header {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: #AC2B37; 
    font-size: 25px;
   }

body {
    font-family: Futura, Trebuchet MS;
    font-weight: condensed;
    color: #000000; 
    font-size: 16px;
}

h1 {
    font-family: Futura, Trebuchet MS;
    font-weight: bolder;
    color: #A9B0B7; 
    font-size: 20px;
}